services:
  app:
    build:
      context: .
      args:
        IMAGE: ghcr.io/nationalarchives/tna-python-root
        IMAGE_TAG: 0
    environment:
      - ENVIRONMENT_NAME=localhost
      - RUNTIME=develop
      - ALLOW_INSECURE=true
      - CONFIG=config.Develop
      - DEBUG=true
      - SECRET_KEY=abc123
      - NPM_DEVELOP_COMMAND=dev
      - COOKIE_DOMAIN=localhost
      - CSP_STYLE_SRC='self',fonts.googleapis.com,p.typekit.net,use.typekit.net
      - CSP_FONT_SRC='self',fonts.gstatic.com,use.typekit.net
    ports:
      - 81:8080
    volumes:
      - ./:/app

  dev:
    environment:
      - CONFIG=config.Test
    image: ghcr.io/nationalarchives/tna-python-dev:preview
    volumes:
      - ./:/app

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 1081:8000
